@model DEmos.Models.ProductVM
@{
    ViewData["Title"] = "Create";
}

<h1>Create
    </h1>

<form method="post">
    @*<input asp-for="id" hidden />*@
    Name:<input asp-for="Name"  />
    Price:<input asp-for="price"  />
    <input type="submit"  />
    <a asp-action="Index">Back</a>
</form>

